.jhon{
    margin: 0;
    padding: 0;
}

.jhon img {
    height: 50%;
    /* width: 60%; */
}

.jhon h1 {
    padding-bottom: 40px;
    font-size: 40px;
    font-family: monospace;
    color: rgb(253, 253, 253);
}