body{
  position:relative;
display:block;
}
.complet {
  width: 100%;
  height: 100%;
  background: url('../imagenes/fondo.jpeg');
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: table;
  top: 0;
  margin-bottom: 0;
}

.interno {
  width: auto;
  vertical-align: middle;
  display: table-cell;
}

.tituloFirst {
    font-family: Rockwell;
    font-size: 45px;
    color: #ff0000; 
    padding: 30px;
    text-transform: uppercase; 
    color: #8B0000; 
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
    position: relative;
}


.button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #8B0000; 
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 260px;
}

.button:before {
  content: '';
  background: black;
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.button:active {
  color: #000
}

.button:active:after {
  background: transparent;
}

.button:hover:before {
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
