.nav {
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2d42;
    box-shadow: 0 0 2px white;
}

.opcion {
    text-align: center;
    padding: 57px 0px;
    text-decoration: none;
    float: left;
}

.to{
      
    color: #000000;
    text-decoration: none;
    border: #ff0000 solid 1px;
    padding: 5px;
    border-radius: 10px;
    font-size: 21px;
    font-family: monospace;
    box-shadow:  white;
}

.to:hover {
    background-color: #ffffff;
}

.to:active {
    background-color: rgb(255, 0, 0);
    box-shadow: 0 2px #fdfdfd;
    transform: translateY(2px);
}

.search{
    padding: 0;
    margin: 0 16px;
}

.gif {
    display: table-cell;
    padding-top: 0.5vw;
    width:19vw;
    margin: -34px;
    height: auto;
}

.imagencita {
    justify-content: center;
    position: relative;
    margin: 0 40px 0 0;
    height: auto;
    width: auto;
}

.busqueda {
    padding: 0;
}

.btn {
    text-align: center;
    padding: 57px 0px;
    text-decoration: none;
    float: right;
    color: #fff;
    text-decoration: none;
    border: #ff0000 solid 1px;
    padding: 5px;
    border-radius: 10px;
    font-size: 21px;
    font-family: monospace;
    box-shadow: 0 0 3px white;
    background: bottom;
    margin: 50px 10px 0px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff0000;
}

.btn:active {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px #621708;
    transform: translateY(2px);
}